<div class="row" ng-controller="SetupCtrl">
	<div class="row">
		<div class="col-md-6">
			<div class="input-group buffer-bottom">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-edit"></span>	
				</span>
				<input class="form-control" placeholder="Name" name="name" type="text" ng-model="name"/>
			</div>
		</div>
		<div class="col-md-6">
			<div class="input-group buffer-bottom">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-arrow-down"></span>	
				</span>
				<input class="form-control" placeholder="Empty Depth" name="emptyDepth" type="text" ng-model="emptyDepth"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="input-group buffer-bottom">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-arrow-up"></span>	
				</span>
				<input class="form-control" placeholder="Full Depth" name="fullDepth" type="text" ng-model="fullDepth"/>
			</div>
		</div>
		<div class="col-md-6">
			<div class="input-group buffer-bottom">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-tint"></span>	
				</span>
				<input class="form-control" placeholder="Capacity" name="capacity" type="text" ng-model="capacity"/>
			</div>
		</div>
	</div>
	<button class="btn btn-primary" ng-click="save()">Save</button>
	<screen-message
		message="Lets get you set up."
		explanation="We'll need a little info to get the right measurements for your Cistern."
		duration="3000"
		></screen-message>
</div>