<div ng-app="app" ng-controller="MainCtrl">
  <ng-view></ng-view>
</div>
<script src="/components/jquery/dist/jquery.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/js/main.js"></script>
<script src="/js/controllers/MainCtrl.js"></script>
<script src="/js/controllers/LevelCtrl.js"></script>
<script src="/js/services/SettingsProvider.js"></script>