<div ng-app="app" ng-controller="MainCtrl">
  <nav class="navbar navbar-default" style="visibility: \{{ navVisibility }}">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">WaterMon</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>--}}
          <li><a href="/">Current Level</a></li>
          <li><a href="/stats">Statistics</a></li>
          <li><a href="/setup">Settings</a></li>
          
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">
          <li>\{{ settings.name }}</li>
        </ul>-->
        <p class="navbar-text nav navbar-nav navbar-right">\{{ settings.name }}</p>
        <!--<h4 class="nav navbar-nav navbar-right">\{{ settings.name }}</h4>-->
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  
  
  
  <div class="container">
    <ng-view></ng-view>
  </div>
  
</div>
<script src="/components/jquery/dist/jquery.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/"></script>
<script src="/js/main.js"></script>
<script src="/js/controllers/MainCtrl.js"></script>
<script src="/js/controllers/LevelCtrl.js"></script>
<script src="/js/controllers/SetupCtrl.js"></script>
<script src="/js/services/SettingsProvider.js"></script>
<script src="/js/services/SensorDataProvider.js"></script>
<script src="/js/directives/screenMessage.js"></script>