<div ng-app ng-controller="MainCtrl">
    
</div>
<script src="/components/bootstrap/dist/bootstrap.css"></script>
<script src="/components/jquery/jquery.js"></script>
<script src="/components/angular/angular.js"></script>